header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  overflow: hidden;
  top: 0px;
  background-color: #005b63;
}

body {
  margin-left: 0px;
  margin-right: 0px;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  justify-content: right;
  align-items: right;
  bottom: 0;
  width: 100%;

  overflow: hidden;
  background-color: #005b63;
}

footer li {
  float: left;
  align-items: center;
  justify-content: center;
}

html {
  font-family: sans-serif;
  background-color: rgb(33, 115, 122);
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 18px 24px;
  text-decoration: none;
}

footer li a {
  display: block;
  color: white;
  text-align: center;
  padding: 18px 24px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgb(131, 197, 190);
}

main {
  width: 70%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto; /* Centers the element horizontally */
}

img {
  border-radius: 0.375rem;
}

h2 {
  font-size: 50px;
}

section {
  display: flex;
  justify-content: center;

  background-attachment: fixed;
  background-size: cover;
}

.parallax-container1 {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;

  justify-content: center;

  /*  this is where the magic happens:  */
  background-attachment: fixed;

  background-image: url("Images/30YearDoor.png");
  background-position: center;
  background-size: cover;
  color: var(--color);
  text-align: center;
}

.parallax-standard {
  flex-direction: row;
  flex-wrap: wrap;

  padding: 4rem 0;
  background-color: rgb(131, 197, 190);
  gap: 0.4em;
}

.parallax-container3 {
  flex-direction: row;
  flex-wrap: wrap;

  padding: 9rem 0;
  gap: 0.4em;
}

.parallax-container4 {
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;

  padding: 12rem 0;
  background-image: url(Images/Man.png);
  background-position: center bottom;

  gap: 0.4em;
}

.parallax-container5 {
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;

  padding: 12rem 0;
  background-image: url(Images/AcrossWater.png);
  gap: 0.4em;
}

.parallax-container6 {
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;

  padding: 24rem 0;
  background-image: url(Images/women.png);
  gap: 0.4em;
  background-position-y: -40px;
}

.parallax-container7 {
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;

  padding: 24rem 0;
  background-image: url(Images/SideBuilding.png);
  background-position-y: -40px;
  gap: 0.4em;
}

.parallax-container8 {
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;

  padding: 24rem 0;
  background-image: url(Images/Model.png);
  gap: 0.4em;
  background-position: center bottom;
  background-position-y: -100px;
}

.parallax-container9 {
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;

  padding: 24rem 0;
  background-image: url(Images/College.png);
  background-position-y: -100px;
  gap: 0.4em;
}

.parallax-container10 {
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;

  padding: 24rem 0;
  background-image: url(Images/Above.png);
  gap: 0.4em;
}
.parallax-container11 {
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;

  padding: 24rem 0;
  background-image: url(Images/AcrossWater2.png);
  background-position-y: -150px;
  gap: 0.4em;
}

.title {
  border-radius: 0.375rem;

  color: rgb(0, 56, 61);
  background-color: #fafafa96
  
}

.title2 {
  color: #fafafa
}

section p {
  width: 70%;
  border-radius: 0.6rem;
  padding: 15px;
  background-color: rgb(131, 197, 190, 0.8);
  font-size: 25px;
  text-align: left;
}

@media only screen and (max-width: 768px) {
  header ul,
  footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header ul li,
  footer ul li {
    float: none;
    width: 100%;
  }
  footer li a {
    padding: 5px 10px;
  }

  li a {
    padding: 5px 10px;
    font-size: 10px;
  }

  main {
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  section p {
    width: 90%;
    font-size: 20px;
    padding: 10px;
  }

  h2 {
    font-size: 30px;
  }

  .parallax-container1,
  .parallax-standard,
  .parallax-container3,
  .parallax-container4,
  .parallax-container5,
  .parallax-container6,
  .parallax-container7,
  .parallax-container8,
  .parallax-container9,
  .parallax-container10,
  .parallax-container11 {
    padding: 10rem 0;
  }
}
